<% var locales = Shop.Main.getAvailableLocales(); %>
<% var navItems = Shop.Main.getNavigationItems(); %>


<table id="main-header">
	<tr>
		<td id="logo-cell">
			<div id="main-logo">Lunch<em>4</em>You</div>
		</td>
		<td id="middle-cell">
			<div id="main-screen-name"></div>
		</td>
		<td id="service-cell">
			<span id="main-customer-info">
				<% if(Shop.customer){ %>
				<a id="main-customer-link" href="javascript:"> <%= Shop.customer.firstName %> <%= Shop.customer.lastName %></a>
				<% } else { %>
					<%= msg( "main.navigation.anonymous") %>
					<!-- prepared for future
					<a id="main-registration-link" href="javascript:"
						title="<%= msg( "main.navigation.link.registration.title") %>"
					><%= msg( "main.navigation.link.registration") %></a>
					/
					<a id="main-login-link" href="javascript:"
						title="<%= msg( "main.navigation.link.login.title") %>"
					><%= msg( "main.navigation.link.login") %></a>
					-->
				<% }%>
			</span>
			|
			<span id="main-lang" >
			<% for ( var i = 0; i < locales.length; i++ ) { %>
				<a id="main-lang-selector" locale="<%= locales[i] %>" href="javascript:">
					<img class="main-lang-flag" src="<%= locales[i] %>.gif"></img>
				</a>
			<% } %>
			</span>
		</td>
	</tr>
	<tr>
		<td  id="navigation-cell" colspan="3">
			<div id="main-navigation">
				<% for ( var i = 0; i < navItems.length; i++ ) { %>
					<%= i > 0 ? "|" : "" %>
					<a class="main-navigation-selector" navigationIndex="<%= i %>" href="javascript:"><%= msg( "main.navigation.items." + navItems[i] ) %></a>
				<% } %>
			</div>
		</td>
	</tr>
</table>


<div id="main-detail">
</div>
