<!% this is of class Order %>
<!% var article = this.entity %>
<% var order = this %>

	<div class="orderRow">
		<span class="orderItemSelector">
			<input id="orderItemSelectorCheckbox_<%= order.id %>" type="checkbox" class="orderItemSelectorCheckbox">
		</span>
		<span class="articleName">
			<%= order.onlyItem.article.name_cz %>
		</span>
		<span class="customerDetails">
			<a href="mailto:<%= order.owner.email %>" target="newMail"><%= order.owner.firstName %> <%= order.owner.lastName %></a>
		</span>

		<span class="deliveryLocation">
			<%= order.deliveryLocation.abbreviation %>
		</span>
		 	
		<span class="orderTime"><%= order.timeString %></span>
		<div style="clear : both;"></div>
	</div>
