<% var article = this.article %>
<% var orders = this.items %>
<% var closed = this.closed %>

<h3 id="<%= article.name %>"><span class="switch"><%= closed ? '+' : '-' %></span> <em><%= article.name %></em> <span class="info"><%= orders.length %> order(s)</span></h3>
<table class="order-group" <% if ( !closed ) { %>style="display: table;"<% } %>>
	<tr>
		<th class="id-col">#</th>
		<th class="customer-col">Customer</th>
	</tr>
	<% for ( var i = 0; i < orders.length; i++ ) { %>
	<tr <%= orders[ i ] %>>
		<%== $.View( '//backoffice/order/list/views/item.ejs', orders[ i ] ) %>
	</tr>
	<% } %>
	<tr>
		<td>&nbsp;</td>
		<td><input type="button" value="Close orders"/></td>
	</tr>
</table>
