
<div id="menuDiv">
	<div id="menuHeader">
		Lunch4you - Menu
	</div>
	<table id="menuTable">
		<tr class="headerRow">
			<td class="newFlagCell"></td>
			<td class="codeCell"></td>
			<td class="articleCell"></td>
			<td class="priceCell"></td>	
		</tr>
	<% for ( var i = 0; i < this.length; i++ ) { %>
		<% var category =  this[i].entity; %>
		<% var articles = this[i].items %>
		<tr>
			<td class="newFlagCell"></td>
			<td colspan="3" class="categoryCell">
				<%= localize( category, "name" ) %>
			</td>
		</tr>
		<% for ( var j = 0; j < articles.length; j++ ) { %>
			<% 
				var article = articles[j];
				var isSoldOut = article.isSoldOut; 
				var isNew = article.isNew;
			%>
			<tr class="articleRow">
				<td class="newFlagCell">
					<% if( isNew ) { %> 
							<span class="meal-new-label"><%= msg("menu.article.new.label") %></span> 
					<% } %>
				</td>
				<td class="codeCell">
					<%= article.code %>
				</td>
				<td class="articleCell">
					<span class="meal-header">
						<%= localize( article, "name" ) %>						
					</span>
					<br>
					<div class="articleDiv">
					<span class="meal-description">
						(<%= localize( article, "description" ) %>)
						. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
					</span>
					</div>
				</td>
				<td class="priceCell">
					<%= article.price %>,- Kč
				</td>
			</tr>
		<% } %>
		
	<% } %>
	</table>
	<div id="menuFooter">
		<hr style="width : 80%; border-color : lightgray;"/>
		web: www.lunch4you.cz | email: lunch4you.cz@gmail.com | tel: +420 774 096 313
	</div>
</div>
