<% var article = this %>
		<td colspan="3" class="articleEditCell">

<form id="articleForm" class="input-form" action="javascript:">
	<input name="categoryId" type="hidden" value="<%= article.category.id %>"> 
	<input name="id" type="hidden" value="<%= article.id %>">

	<div class="input-form-row">
		<label>Code:</label> 
		<input name="code" type="text" value="<%= article.code %>">
	</div>
	 
	<div class="input-form-row">
		<label>Name(CZ):</label> 
		<input name="name_cz" type="text" value="<%= article.name_cz %>">
	</div>

	<div class="input-form-row">
		<label>Name(EN):</label> 
		<input name="name_en" type="text" value="<%= article.name_en %>">
	</div>

	<div class="input-form-row">
		<label>Description (CZ):</label> 
		<textarea name="description_cz"><%= article.description_cz %></textarea>
	</div>
	<div class="input-form-row">
		<label>Description (EN):</label> 
		<textarea name="description_en"><%= article.description_en %></textarea>
	</div>
	<div class="input-form-row">
		<label>Price (delivery):</label> 
		<input name="priceDelivery" type="text" value="<%= article.priceDelivery %>">
	</div>

	<div class="input-form-row">
		<label>Price (restaurant):</label> 
		<input name="priceRestaurant" type="text" value="<%= article.priceRestaurant %>">
	</div>

	<div class="input-form-row">
		<label>New flag:</label> 
		<input name="isNew" type="checkbox" <%= article.isNew ? "checked" : "" %>>
	</div>

		


	<div class="input-form-buttons-row">
		<input id="submitButton" type="button" value="Save" /> 
		<input id="cancelButton" type="button" value="Cancel" />
	</div>
</form>

		</td>
