<% 	var article = this;
	var soldOut = article.isSoldOut; 
	var isActive = article.isActive;
	var isNew = article.isNew;
	var isDailyLimit = article.dailyLimit != null;
%>

		<td class="articleCell">
			<div class="meal-header">
				<%= article.name_cz %> / <%= article.name_en %></a>
				<% if( isNew ) { %> 
					<span class="meal-new-label">New</span> 
				<% } %>
				<% if(soldOut) { %> 
					<span class="meal-sold-out-label">Sold out</span> 
				<% } %>
			</div>
			<div class="meal-description">
				<%= article.description_cz %> / <%= article.description_en %>
			</div>
		</td>
		<td class="priceCell">
			<%= article.price %>,- KÄ
		</td>
		<td class="actionsCell">
			<a href="javascript:" class="action-link" action="edit">Edit</a>
			<% if(isActive) { %>
				<a href="javascript:" class="action-link" action="deactivate">Deactivate</a>
			<% } else { %>
				<a href="javascript:" class="action-link" action="activate">Activate</a>
			<% } %>
			<input class="daily-limit-input" type="text" initialValue="<%= article.dailyLimit %>" value="<%= article.dailyLimit %>" onclick="this.select()">
		</td>
