<% 	var article = this;
	var isSoldOut = article.isSoldOut; 
	var isActive = article.isActiveDelivery || article.isActiveRestaurant;
	var isNew = article.isNew;
	var isDailyLimit = article.dailyLimit != null;
%>

	<tr class="articleRow <%= isActive ? "active" : "inactive" %>" articleId="<%= article.id %>">

		<td class="codeCell">
			<%= article.code %>
			<!-- <br><%= article.isActiveDelivery %>,<%= article.isActiveRestaurant %>,<%= isActive %> -->
		</td>
		<td class="articleCell">
			<div class="meal-header">
				<a href="javascript:" class="action-link" action="edit" style="color : inherit;"><%= article.name_cz %> / <%= article.name_en %></a>
				<% if( isNew ) { %> 
					<span class="meal-new-label">New</span> 
				<% } %>
				<% if(isSoldOut) { %> 
					<span class="meal-sold-out-label">Sold out</span> 
				<% } %>
			</div>
			<div class="meal-description">
				<%= article.description_cz %> / <%= article.description_en %>
			</div>
		</td>
		<td class="priceCell">
			<%= article.price %>,-
		</td>
		<td class="limitCell">
			<input class="daily-limit-input" type="text" initialValue="<%= article.dailyLimit %>" value="<%= article.dailyLimit %>" onclick="this.select()">
		</td>
		<td class="actionsCell <%= isActiveDelivery ? "active" : "inactive" %>">
			<% if(article.isActiveDelivery) { %>
				<a href="javascript:" class="action-link" action="deactivateDelivery">Deactivate<br>Delivery</a>
			<% } else { %>
				<a href="javascript:" class="action-link" action="activateDelivery">Activate<br>Delivery</a>
			<% } %>
		</td>
		<td class="actionsCell <%= isActiveRestaurant ? "active" : "inactive" %>">
			<% if(article.isActiveRestaurant) { %>
				<a href="javascript:" class="action-link" action="deactivateRestaurant">Deactivate<br>Restaurant</a>
			<% } else { %>
				<a href="javascript:" class="action-link" action="activateRestaurant">Activate<br>Restaurant</a>
			<% } %>
		</td>
	</tr>
		