<% var user = this.customer %>

<% if ( user ) { %>
<form id="referralForm" class="input-form" action="javascript:">
	<div class="input-form-row">
		<label><%= msg( "referral.detail.sender" ) %>:</label>
		<div id="currentCustomerDetails">
			<span class=""><%= user.firstName %> <%= user.lastName %></span>
		</div>
		
	</div>

	<div class="input-form-row">
		<label><%= msg( "referral.detail.recipientEmails" ) %>:<br><br>
		<span>(<%= msg( "referral.detail.recipientEmails_multiple" ) %>)</span></label> 
		<textarea id="recipientEmail" type="text"></textarea>
	</div>

	<div class="input-form-row">
		<label><%= msg( "referral.detail.referralMessage" ) %>:</label> 
		<textarea id="referralMessage"></textarea>
	</div>

	<div class="input-form-buttons-row">
		<input id="submitButton" type="button" value="<%= msg( "referral.detail.action.recommend" ) %>" />
	</div>
</form>
<% } else { %>
	<p><%= msg( "referral.detail.user.anonymous.message" ) %></p>
<% } %>
	
