<% var user = this.customer %>

<div class="customer-box input-form">
<% if ( user ) { %>
	<div class="input-form-row">
		<label><%= msg( "referral.detail.sender" ) %>:</label>
		<div id="currentCustomerDetails">
			<span class=""><%= user.firstName %> <%= user.lastName %></span>
		</div>
		
	</div>

	<div class="input-form-row">
		<label><%= msg( "referral.detail.recipientEmail" ) %>:</label> 
		<input id="recipientEmail" type="text" value="">
	</div>

	<div class="input-form-row">
		<label><%= msg( "referral.detail.referralMessage" ) %>:</label> 
		<textarea id="referralMessage"></textarea>
	</div>

	<form id="send-referral">
		<input id="submitReferralButton" type="button" value="<%= msg( "referral.detail.action.recommend" ) %>" />
	</form>
<% } else { %>
	<p><%= msg( "referral.detail.user.anonymous.message" ) %></p>
<% } %>
	
</div>
