<!% this is of class ArticleWithOrders %>
<% var group = this.group %>
<% var article = group.entity %>
<% var orders = group.items %>
<% var openGroups = this.openGroups %>

	<h5 id="article<%= article.id %>">
		<span class="articleName"><%= article.name_cz %></span>
		<span class="orderCount"><%= orders.length %></span>
		<div style="clear : both;"></div>
	</h5>
	<div id="customersForArticle<%= article.id %>" class="customers" style="display : <%= openGroups["" + article.id] ? "block" : "none" %>">
	<% for ( var i = 0; i < orders.length; i++ ) { %>
		<% var order = orders[i] %>
		<div class="customer-details">
			<%= order.owner.firstName %> <%= order.owner.lastName %>
			<span class="location">(<%= order.deliveryLocation.abbreviation %>)</span>
		</div>
	<% } %>
	</div>
