<!% this is of class ArticleWithOrders %>
<% var article = this.entity %>
<% var orders = this.items %>

<h5><%= article.name_cz %> - <%= orders.length %></h5>

	<% for ( var i = 0; i < orders.length; i++ ) { %>
		<% var order = orders[i] %>
		&nbsp;&nbsp;<%= order.owner.firstName %> <%= order.owner.lastName %> (<%= order.deliveryLocation.abbreviation %>)<br>
	<% } %>
