<!% this is of class DeliveryLocationWithArticlesDto %>
<% var deliveryLocation = this.entity %>
<% var articlesWithOrders = this.items %>
<% var countOrderItems = this.countOrderItems %>

<td class="deliveryLocationCell">
	<%= deliveryLocation.abbreviation %><br>
	<%= countOrderItems %> 
	
</td>

<td class="articlesCell">
<% for ( var i = 0; i < articlesWithOrders.length; i++ ) { %>
	<% var articleWithOrders = articlesWithOrders[i] %>
	<% var article = articleWithOrders.entity %>
	<% var orders = articleWithOrders.items %>
	<table class="articlesTable">
		<tr>
			<td class="articleCell" style="padding : 2px;">
				<%= article.name_cz %> - <%= orders.length %>
			</td>
			
			<td class="ordersCell">
			
				<table class="ordersTable">
	<% for ( var j = 0; j < orders.length; j++ ) { %>
		<% var order = orders[j] %>
					<tr>
						<td class="orderCell">
							<%= order.owner.firstName %> <%= order.owner.lastName %>
						</td>
					</tr>
	<% } %>
				</table>
			</td>
		</tr>
	</table>
<% } %>
</td>