<!% this is of class DeliveryLocationWithArticlesDto %>
<% var deliveryLocation = this.entity %>
<% var articlesWithOrders = this.items %>

<h4><%= deliveryLocation.abbreviation %></h4>

<% for ( var i = 0; i < articlesWithOrders.length; i++ ) { %>
	<% var articleWithOrders = articlesWithOrders[i] %>
	<% var article = articleWithOrders.entity %>
	<% var orders = articleWithOrders.items %>
	<h5><%= article.name_cz %> - <%= orders.length %></h5>

	<% for ( var j = 0; j < orders.length; j++ ) { %>
		<% var order = orders[j] %>
		&nbsp;&nbsp;&nbsp;&nbsp;<%= order.owner.firstName %> <%= order.owner.lastName %><br>
	<% } %>

<% } %>
