<% var pages = this %>

<div id="print-preview">
<% for ( var pageIndex = 0; pageIndex < pages.length; pageIndex++ ) { %>
	<% var rows = pages[ pageIndex ] %>
	<div class="page" data-number="<%= pageIndex %>">
		<% for ( var rowIndex = 0; rowIndex < rows.length; rowIndex++ ) { %>
			<% var row = rows[ rowIndex ] %>
			<% for ( var i = 0; i < row.length; i++ ) { %>
				<% var order = row[ i ] %>
				<div class="label-position" data-row="<%= rowIndex %>" data-col="<%= i %>">
				<% if ( order === false ) { %>
					<div class="not-used noPrint">(empty)</div>
				<% } else if ( order == null ) { %>
					<div class="not-used noPrint">(empty)</div>
				<% } else { %>
					<table class="label-layout" cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="2" class="customer-name"><%= order.owner.firstName %> <%= order.owner.lastName %></td>
						</tr>
						<tr>
							<td colspan="2" class="article">
							<%= order.onlyItem.article.name_cz %>
							<% if ( order.note ) { %>
								<%= order.note %>
							<% } %>
							</td>
						</tr>
						<tr>
							<td class="delivery-location"><%= order.deliveryLocation.name %></td>
							<td class="l4u-url">www.lunch4you.cz</td>
						</tr>						
					</table>
				<% } %>
				</div>
			<% } %>
		<% } %>
	</div>
<% } %>
</div>
<div id="button-bar" class="noPrint">
	<input type="button" value="Mark as Printed"/>
</div>
