<% var meal = this.article %>
<% var user = this.customer %>
<% var deliveryLocation = this.deliveryLocation %>
<% var deliveryLocations = this.deliveryLocations %>

<div>
	<label><%= msg( "order.detail.customer" ) %>:</label>
	<div id="currentCustomerDetails">
		<span class="modifiable"><%= user.firstName %> <%= user.lastName %></span>
		<div id="changeCustomerButton" class="link-button"><%= msg( "order.detail.action.change" ) %></div>
	</div>
	
	<div id="customerForm" class="in-place" style="display:none;">
	</div>
</div>

<div id="deliveryLocationDetails">
	<label><%= msg( "order.detail.deliveryLocation" ) %>:</label> 
	<select id="deliveryLocationsSelect">
	<% for ( var i = 0; i < deliveryLocations.length; i++ ) { %>
		<option value="<%= deliveryLocations[ i ].id %>"><%= deliveryLocations[ i ].name %></option>
	<% } %>
	</select>
	<!--span class="modifiable"><%= user.defaultDeliveryLocation.name %></span>
	<div id="changeDeliveryLocationButton" class="link-button">Change</div-->
</div>

<!--form id="deliveryLocationForm" class="in-place" style="display:none;">
	<br/>
	<input id="submitDeliveryLocationButton" type="button" value="Done"/>
	<input id="cancelChangeDeliveryLocationButton" type="button" value="Cancel"/>
</form-->

<h1><%= localize( meal.category, "name" ) %> - <%= localize( meal, "name" ) %></h1>
<h3><%= msg( "order.detail.price" ) %>: <em><%= meal.price %>,- KÄ</em></h3>
<p id="description"><%= localize( meal, "description" ) %></p>

<form id="confirm-order">
	<input id="order" type="button" value="<%= msg( "order.detail.action.order" ) %>" />
</form>

<p><a href="#view=menu&token=<%= Shop.params.token %>"><%= msg( "order.detail.viewMenu" ) %></a></p>
