<% var meal = this.article %>
<% var user = this.customer %>
<% var deliveryLocation = this.deliveryLocation || this.deliveryLocations[ 0 ] %>
<% var deliveryLocations = this.deliveryLocations %>

<div class="customer-box">
	<div>
		<label><%= msg( "order.detail.customer" ) %>:</label>
		<div id="currentCustomerDetails">
		<% if ( user ) { %>
			<div>
				<span class="modifiable">
					<%= user.firstName %> <%= user.lastName %>
				</span>
			</div>
			<div id="deliveryLocationDetails">
				<label><%= msg( "order.detail.deliveryLocation" ) %>:</label>
		
				<select id="deliveryLocationsSelect">
				<% for ( var i = 0; i < deliveryLocations.length; i++ ) { %>
					<option value="<%= deliveryLocations[ i ].id %>" 
						<%= (deliveryLocation.id == deliveryLocations[ i ].id) ? "selected" : "" %> ><%= deliveryLocations[ i ].name %></option>
				<% } %>
				</select>
			</div>
		
			<div id="noteDiv">
				<label><%= msg( "order.detail.note" ) %>:</label> 
				<textarea id="note"></textarea>
			</div>
			<!--div id="changeCustomerButton" class="link-button"><%= msg( "order.detail.action.change" ) %></div-->
		<% } else { %>
			<span class="modifiable">
				<%= msg( "order.detail.user.anonymous" ) %>
			</span>
			<p><%= msg( "order.detail.user.anonymous.message" ) %></p>
		<% } %>
		</div>

		<!--div id="customerForm" class="in-place" style="display:none;"-->
		</div>
	</div>

</div>

<h4><%= localize( meal.category, "name" ) %></h4>
<h1><%= localize( meal, "name" ) %></h1>
<p id="description"><%= localize( meal, "description" ) %></p>

<h3><%= msg( "order.detail.price" ) %>: <em><%= meal.price %>,- Kč</em></h3>

<form id="confirm-order">
	<input id="order" type="button" value="<%= msg( "order.detail.action.order" ) %>" />
</form>

<p><a href="#view=menu"><%= msg( "order.detail.viewMenu" ) %></a></p>
